<% layout('layout') -%>

<div id="four-oh-four"> <!-- ... -->
    <h1 class="title">
      :(
    </h1>
    <br />
    That page doesn't seem to exist. Would you care to <a href="/">go home</a>, or <a href="javascript:history.go(-1)">go back</a>?
</div>
