<% layout('layout') -%>
<div id="content">
	<div class="grid column" id="links">
		<% for (var i=0; i<10; i++) { %>
			<div class="blank square twocol"></div>
		<% } %>
    </div>
    <div class="mid_container">
        <div class="title-bar">
          <h1 class="title">Submit your hack!</h1>
        </div>
        <form name="input" action="/submit" method="post">
            <div class="wide_container">
              <div>
                <label for="title">Hack title:</label>
                <input class="form_input form_input_required" type="text" name="title" placeholder="Facetwitter 2.0" />
              </div>
              <div>
                <label for="team">Team</label>
                <input class="form_input form_input_required" type="text" name="team" data-default=<%= "'"+user.github.username+", '" %> placeholder = "Alice, Bob">
              </div>
              <div>
                <label for="source">Source</label>
                <input class="form_input" type="text" name="source" placeholder="http://">
              </div>

              <div>
                <label for="demo">Demo</label>
                <input class="form_input" type="text" name="demo" placeholder="http://">
              </div>

              <div>
                <label for="picture">Picture</label>
                <input class="form_input" type="text" name="picture" size="chars" placeholder="http://">
              </div>

              <div>
                <label for="video">Video</label>
                <input class="form_input" type="text" name="video" placeholder="http://">
              </div>

              <div>
                <label for="tags">Tags (comma separated)</label>
                <input class="form_input" type="text" name="tags" placeholder="bigdata, html9, revolutionary, ...">
              </div>

              <div>
                <label for="blurb">Description</label>
                <textarea class="form_input form_input_required" placeholder="This is like, the next big thing man" name="blurb" rows=7 col=100 style="line-height: 18px;"></textarea>
              </div>
				<input type="submit" class="submit cardcol" value="submit">
            </div>
        </form>
    </div>
	<div class="grid column" id="links" >
		<% for (var i=0; i<10; i++) { %>
			<div class="blank square twocol"></div>
		<% } %>
    </div>
</div>
